<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<nav class="nav">
	<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; height: 100vh;">
	    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
	      <span class="fs-4">근로자 스트레스(홍채)</span>
	    </a>
    	<hr>
	    <ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="/measure" class="nav-link text-white" aria-current="page">
					<i class="bi-bar-chart-fill"></i>&nbsp;&nbsp;측정 목록
				</a>
			</li>
			<li class="nav-item">
				<a href="/employees" class="nav-link text-white">
					<i class="bi-person-lines-fill"></i>&nbsp;&nbsp;근로자 목록
				</a>
			</li>
		</ul>
		<hr>
	    <div class="dropdown">
			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
	        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
	        <strong>관리자</strong>
	      </a>
	      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" style="">
			<li><a class="dropdown-item" href="#">Settings</a></li>
			<li><a class="dropdown-item" href="#">Profile</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" href="#">Sign out</a></li>
	      </ul>
	    </div>
	  </div>
	<script src="http://code.jquery.com/jquery-latest.js"></script> 
	<script>
		var pageUrl = window.location.href;
		$('.nav-item').siblings('li').removeClass('active');
		$(window).on('load', function(){
		    if (pageUrl.indexOf('employees') > -1) {
		        $('.nav-item > a').eq(1).addClass('active');
		    } else {
		        $('.nav-item > a').eq(0).addClass('active'); 
		    }
		});
	</script>
</nav>


</body>
</html>